<!doctype html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" class="index">

    {% include navbar.html %}

    <section>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">{{ page.title }}</h2>
              </div>
          </div>
          <div class="row container">
            {{ content }}
          </div>
      </div>
    </section>


    <footer>
      &copy; 2020 Tchelinux
    </footer>

    {% include js.html %}

  </body>
</html>
